/**
 * OCHA Key Figures
 */

figure.ocha-key-figures__figure {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 16px;
  border: 1px solid var(--cd-reliefweb-brand-grey--light);
}
figure.ocha-key-figures__figure figcaption {
  margin: 0 0 20px 0;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}
figure.ocha-key-figures__figure p {
  display: inline-block;
  margin: 0 12px 10px 0;
  vertical-align: middle;
}
figure.ocha-key-figures__figure data {
  display: block;
  color: var(--cd-reliefweb-brand-blue--dark);
  font-size: 22px;
  font-weight: bold;
}
figure.ocha-key-figures__figure small {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  font-style: normal;
  line-height: 1.5;
}
.ocha-key-figures .ocha-key-figures__figure__sparkline { /* @MOD */
  float: right;
  overflow: visible;
  width: 120px;
  padding: 10px 0;
  opacity: 0.5;
  fill: none;
  stroke: var(--cd-reliefweb-brand-grey--dark);
  stroke-width: 2px;
}
figure.ocha-key-figures__figure footer {
  clear: both;
  margin-top: 10px;
  font-size: 14px;
}
figure.ocha-key-figures__figure time {
  display: inline-block;
  margin: 0 12px 0 0;
  padding: 1px 6px;
  vertical-align: middle;
  border-radius: 5px;
  background: var(--cd-reliefweb-grey--disable);
}
figure.ocha-key-figures__figure.recent time:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -2px 6px 0 0;
  content: "";
  vertical-align: middle;
  border-radius: 6px;
  background: var(--cd-reliefweb-brand-red--dark);
}
figure.ocha-key-figures__figure cite {
  float: right;
  padding: 1px 6px;
  color: white;
  border-radius: 5px;
  background: var(--cd-reliefweb-brand-blue--dark);
  font-style: normal;
}
figure.ocha-key-figures__figure cite a {
  color: inherit;
}

.ocha-key-figures__links a {
  display: inline;
}
.ocha-key-figures__links a + a:before {
  display: block;
  margin-top: 16px;
  content: "";
}

@media screen {
  .ocha-key-figures ul li figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  figure.ocha-key-figures__figure div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  figure.ocha-key-figures__figure footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  figure.ocha-key-figures__figure small span {
    display: block;
  }
}
