/**
 * Web Share API
 *
 * Modifications for when the browser can natively share images or text.
 */
.ocha-key-figures__figure--can-share {
  position: relative;
}

.ocha-key-figures__figure--can-share .ocha-key-figures__figure__label {
  margin-inline-end: 2rem;
}

.ocha-key-figures__share-button {
  position: absolute;
  top: 16px; /* matches RW component units */
  border: none;
  background: none;
}

html[dir="ltr"] .ocha-key-figures__share-button {
  right: 16px;
}
html[dir="rtl"] .ocha-key-figures__share-button {
  left: 16px;
}

.ocha-key-figures__share-button img {
  display: block;
}

/**
 * While the figure is being rasterized for sharing, we make the following
 * modifications.
 */

/* hide share button */
.is--capturing .ocha-key-figures__share-button {
  display: none;
}

/* remove underline from hyperlinked sources */
.is--capturing .ocha-key-figures__figure__source a {
  text-decoration: none;
}
